body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.board {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.board-row {
  display: flex;
}

.board-block {
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  font-weight: bold;
  font-size: 20px;
}

#guessed-word {
  margin-bottom: 10px;
  font-size: 18px;
}

#attempts {
  font-size: 16px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboard-row {
  display: flex;
}

.keyboard-column {
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.keyboard-column.wide {
  width: 100px;
}

.keyboard-column:hover {
  background-color: #ddd;
}

.board-block.correct {
  background-color: green;
}

.board-block.incorrect {
  background-color: red;
}

.board-block.included {
  background-color: yellow;
}
